<h1>BookKarma</h1>
<p>This page will show owned and wanted books</p>
<div class="row">
	<div class="span8"></div>
		<p>
		  <b>Title:</b>
		  <%= @book.title %>
		</p>

		<p>
		  <b>Author:</b>
		  <%= @book.author %>
		</p>

		<p>
		  <b>Isbn:</b>
		  <%= @book.isbn %>
		</p>

		<p>
		  <b>Url:</b>
		  <%= @book.url %>
		</p>

		<p>
		  <b>Course:</b>
		  <%= @book.course %>
		</p>
		</div>
</div>
