<%= form_for(@owned_book) do |f| %>
  <% if @owned_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owned_book.errors.count, "error") %> prohibited this owned_book from being saved:</h2>

      <ul>
      <% @owned_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
