<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
<<<<<<< HEAD
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Image:</b>
  <%= @book.image %>
=======
  <b>Owner:</b>
  <%= @book.owner_id %>
>>>>>>> master
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
