   



    <script>
    $(function() {
        $( "#SEARCH" ).autocomplete({
            source: '<%= book_catalog_entries_path(:json) %>',
            focus: function(event, ui) {
                $('#SEARCH').val(ui.item.title);
                return false;
            },
            select: function(event, ui) {
                $('#SEARCH').val(ui.item.title); 
                $('#Title').html(ui.item.title);
                $('#Author').html(ui.item.author);
                $('#Isbn').html(ui.item.isbn);
                $('#bookimg').attr('src', ui.item.url);
                //$('#SEARCH-ID').val(ui.item.id);
                  return false;
            }
        })
        .data( "autocomplete" )._renderItem = function( ul, item ) {
	     
	     return $( "<li></li>" )
		.data( "item.autocomplete", item )
		.append( "<a>Title: " + item.title + "<br>Author: " + item.author + "</a>" )
		.appendTo( ul );
		};
    });
    //var programmingLang = ["ActionScript","AppleScript","Asp","BASIC","C","C++",
    //    "Clojure","COBOL","ColdFusion","Erlang","Fortran","Groovy","Haskell",
    //    "Java","JavaScript","Lisp","Perl","PHP","Python","Ruby","Scala","Scheme"];
    </script>


<h1>BookKarma</h1>
<p>Your Library</p>



<form>
	<label for="title">Add a book you own</label>
      <input name="title" id="SEARCH" type="text" />
      
      <label class="radio">
          <input type="radio" name="optionsRadios" id="optionOwned" value="addOwned" checked>
          Add to owned books.
      </label>
      <label class="radio">
          <input type="radio" name="optionsRadios" id="optionRequest" value="addRequest">
          Add to book requests.
      </label>
      <button type="submit" class="btn">Add Book</button>
</form>
<div>
	<img id="bookimg" src="" />
	<span id="Title"> </span>
	<span id="Author"> </span>
	<span id="Isbn">  </span>


</div>



   <div class="row">
     <div class="span6">
       <h2>Owned Books</h2>
        <% @user.books.each do |o| %>

         <p>
              <b>Book ID:</b>
              <%= o.book_catalog_entrie_id %>
         </p>
         <p>
              <b>Book isbn:</b>
              <%= o.book_catalog_entrie.isbn %>
         </p>
          <p>
              <b>User ID:</b>
              <%= o.user_id %>
          </p>

          <p>
                <b>Book Title:</b>
                <%= o.book_catalog_entrie.title %>
          </p>
          <p>
             
              <a class="thumbnails"  href="#<%= o.book_catalog_entrie_id %>" data-toggle="modal">
                <%= image_tag("/images/"+o.book_catalog_entrie.isbn.rstrip+".jpg", :alt => "book image") %>
               <div class="modal fade" id="<%= o.book_catalog_entrie_id %>">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal">&times;</a>
                  <h3><%= o.book_catalog_entrie.title %></h3>
                </div>
                <div class="modal-body">
                 <p>Book ID: <%= o.book_catalog_entrie_id %></p>
                 <p>Book Author: <%= o.book_catalog_entrie.author %></p>
                 <p>Book ISBN: <%= o.book_catalog_entrie.isbn %></p>
                </div>
                <div class="modal-footer">
                  <p>You own this book.</p>
                </div>
               </div>
              </a>
             
          </p>
          

        <% end %>

     </div>
     <div class="span6">
        <h2>Book Requests</h2>
        <% @user.requests.each do |o| %>
         <p>
         <b>Book ID:</b>
         <%= o.book_catalog_entrie_id %>
         </p>

         <p>
           <b>User ID:</b>
           <%= o.user_id %>
         </p>
   
         <p>
           <b>Book Title:</b>
           <%= o.book_catalog_entrie.title %>
         </p>
         <p>
             
              <a class="thumbnails"  href="#<%= o.book_catalog_entrie_id %>" data-toggle="modal">
                <%= image_tag("/images/"+o.book_catalog_entrie.isbn.rstrip+".jpg", :alt => "book image") %>
               <div class="modal fade" id="<%= o.book_catalog_entrie_id %>">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal">&times;</a>
                  <h3><%= o.book_catalog_entrie.title %></h3>
                </div>
                <div class="modal-body">
                 <p>Book ID: <%= o.book_catalog_entrie_id %></p>
                 <p>Book Author: <%= o.book_catalog_entrie.author %></p>
                 <p>Book ISBN: <%= o.book_catalog_entrie.isbn %></p>
                </div>
                <div class="modal-footer">
                  <p>You want this book.</p>
                </div>
               </div>
              </a>
             
          </p>
        <% end %>
     </div>

     
   </div>


