<!DOCTYPE html>
<html>
<head>
  <title>BookKarma</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.20.custom.css' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.8.2.custom.min.js' %>
  <!-- <%= javascript_include_tag 'jquery', 'jquery-1.7.2.min.js' %> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
